body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  cursor: pointer;
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 300ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(0) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(360deg) translate(-50%, -50%) scale(1);
  width: 95vw;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 300ms;
  padding: 40px 39px 40px 39px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  border-radius: 50%;
  padding-top: 5px;
}

.btn-modal-close:hover, .btn-modal-close:focus {
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.form-field {
  margin-bottom: 10px;
}

.textarea-field {
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 32px;
  color: #212121;
}

.modal-input:focus {
  border-color: #2196f3;
}

.modal-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
}

.modal-input:focus + .input-icon {
  fill: #2196f3;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding-top: 16px;
  padding-left: 12px;
  color: #212121;
  resize: none;
}

.modal-text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-text:focus {
  border-color: #2196f3;
}

.modal-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
}

.modal-btn:hover, .modal-btn:focus {
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #188CE8;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.agreement {
  margin-left: 4px;
  color: #2196f3;
}

.modal-check-label {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-left: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-check-label {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal-check-label span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: block;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check:checked + .modal-check-label span {
  background-color: #2196f3;
  border: none;
}

.check-icon {
  fill: transparent;
}

.modal-check:checked + .modal-check-label .check-icon {
  fill: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --header-title-color: #ffffff;
  --title-color: #212121;
  --paragraf-color: #757575;
  --accent-color: #2196f3;
}

.header {
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .menu-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    margin-left: 93px;
  }
}

.active {
  position: relative;
}

.active::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  margin-top: 26px;
}

@media screen and (max-width: 767px) {
  .active::after {
    display: none;
  }
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
  align-items: center;
}

.header-container {
  display: flex;
}

.header-connect {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .header-connect {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-connect {
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.header__logoweb {
  font-weight: 700;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header__logoweb {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logostudio {
  font-weight: 700;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .header__logostudio {
    font-size: 26px;
    line-height: 1.19;
  }
}

.menu-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__link:hover, .menu-list__link:focus {
  color: var(--accent-color);
}

.header-connect__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-connect__mail:hover, .header-connect__mail:focus {
  color: var(--accent-color);
  fill: #2196F3;
}

.header-connect__phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 10px;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-connect__phone:hover, .header-connect__phone:focus {
  color: var(--accent-color);
  fill: #2196F3;
}

@media screen and (min-width: 1200px) {
  .header-connect__phone {
    padding-left: 50px;
    margin-top: 0px;
  }
}

.mail-icon,
.phone-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.menu-open-btn,
.menu-close-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .menu-open-btn,
  .menu-close-btn {
    display: none;
  }
}

.menu-close-btn {
  margin-bottom: 8px;
  fill: #212121;
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: #2196F3;
}

.open-icon {
  fill: #212121;
}

.open-icon:hover, .open-icon:focus {
  fill: #2196F3;
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  padding-top: 21px;
  padding-bottom: 48px;
}

.mob-menu .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.mob-menu-bottom {
  margin-top: auto;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: #2196F3;
}

.mob-connect {
  margin-bottom: 64px;
}

.mob-connect__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
  display: block;
  margin-bottom: 32px;
}

.mob-connect__mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc-list {
  display: flex;
}

.mob-soc-list__item {
  margin-left: 10px;
}

.mob-soc-list__item:not(:first-child)::before {
  content: "";
  width: 22px;
  height: 0px;
  left: 315px;
  top: 726px;
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-soc-list__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.no-scroll {
  overflow: hidden;
}

.hero {
  max-width: 1600px;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  background-size: cover;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 120px 0;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop.jpg");
    padding: 200px 0;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop-2x.jpg");
  }
}

.hero__container {
  padding: 0;
  width: auto;
}

.hero__title {
  margin-top: 0;
  display: block;
  align-items: center;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-title-color);
  padding-bottom: 30px;
}

@media screen and (min-width: 1199px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__btn {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  line-height: 1.87;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.about-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    margin-left: -30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .about-list__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about-list__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    max-width: 270px;
  }
}

.about-list__icon-box {
  height: 120px;
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .about-list__title {
    text-align: center;
  }
}

.about-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraf-color);
  letter-spacing: 0.03em;
}

.product {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media (min-width: 480px) and (max-width: 1199.98px) {
  .product {
    display: none;
  }
}

.product__title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
}

.product-list__item {
  position: relative;
}

.product-list__item + .product-list__item {
  margin-left: 30px;
}

.product-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-title-color);
}

.team {
  background-color: #F5F4FA;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
  }
}

.team-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    margin-left: -30px;
  }
}

.team-list-item {
  max-width: 450px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: calc(100% / 2  - 30px);
    margin-left: 30px;
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    max-width: 270px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .team-list-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

.team-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover, .team-soc-link:focus {
  background-color: #2196F3;
  fill: #ffffff;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers-title {
  margin-bottom: 30px;
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

@media screen and (min-width: 1200px) {
  .customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    display: flex;
  }
}

.customers-item {
  margin-left: 30px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .customers-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .customers-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

.customers-link {
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .customers-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-link {
    width: 170px;
  }
}

.customers-link:hover, .customers-link:focus {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

@media screen and (min-width: 1200px) {
  .customers-item + .customers-item {
    margin-left: 30px;
  }
}

.customer-soc-icon {
  width: 106px;
  height: 60px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-all {
    display: flex;
  }
}

.footer-info {
  flex-grow: 0.5;
}

@media screen and (min-width: 1200px) {
  .footer-info {
    flex-grow: 1;
  }
}

.footer-addres {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-addres {
    text-align: center;
  }
}

.footer-addres-name {
  margin-top: 20px;
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .f-logo {
    display: block;
    text-align: center;
  }
}

.footerlogoweb {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footerlogostudio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-addres-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover, .footer-mail:focus {
  color: var(--accent-color);
}

.footer-addres {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  display: block;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .footer-addres {
    justify-content: center;
    margin-bottom: 60px;
  }
}

.footer-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-phone:hover, .footer-phone:focus {
  color: var(--accent-color);
}

.footer-soc {
  padding-left: 70px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-soc {
    margin-top: 60px;
    padding-left: 0px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-soc {
    text-align: center;
    margin-top: 0;
    flex-grow: 0.5;
  }
}

@media screen and (min-width: 1200px) {
  .footer-soc {
    margin-top: 0px;
  }
}

.footer-soc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-soc-title {
    text-align: center;
  }
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: #2196F3;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-form-wrap {
  padding-left: 90px;
}

@media screen and (min-width: 480px) {
  .footer-form-wrap {
    padding-left: 0px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-wrap {
    margin-top: 0px;
    margin-left: 90px;
  }
}

.ff-input-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .ff-input-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .ff-input-wrap {
    flex-direction: row;
  }
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form-title {
    margin-top: 60px;
    text-align: center;
  }
}

.footer-form-input {
  width: 350px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  padding-left: 16px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-form-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form-input {
    width: 450px;
  }
}

.footer-form-btn {
  height: 50px;
  padding: 12px 29px;
  background-color: #2196F3;
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  display: flex;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 480px) {
  .footer-form-btn {
    max-width: 200px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form-btn {
    margin-top: 20px;
    margin-left: 0;
  }
}

.footer-form-btn-icon {
  margin-left: 10px;
}

.project {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .project {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.project-menu-list {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .project-menu-list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project-menu-list {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .project-menu-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

.project-menu-item {
  display: block;
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .project-menu-item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

.btn-project {
  background-color: #F5F4FA;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding: 6px 22px 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-project:hover, .btn-project:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.project-list-item {
  background: #FFFFFF;
  box-sizing: border-box;
  max-width: 450px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .project-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .project-list-item {
    max-width: 354px;
    width: calc(100% / 2  - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project-list-item {
    margin-left: 30px;
    max-width: 370px;
  }
}

.project-list-item:hover .project-cover-text {
  transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .project-list-item:nth-child(-n + 8) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project-list-item:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
}

.project-cover-wrap {
  position: relative;
  overflow: hidden;
}

.project-cover-text {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 300ms;
}

.pr-border {
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding: 20px 24px 20px 24px;
  flex-grow: 1;
}

.project-link {
  display: block;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=main.css.map */